<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Bar Beer Drinker!</h1>
    <p class="lead">Raunak Rishav</p>
    <p class="lead">Alex Vobornov</p>

  </div>
</div>

<div class="container">

  <p-table [value]="bars">
    <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Licence</th>
          <th>Address</th>
          <th>City</th>
          <th>Phone</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bar>
        <tr>
          <td>
            <a routerLink="/bars/{{ bar.name }}">
              {{ bar.Bar_Name }}
            </a>
          </td>
          <td>{{ bar.Bar_License }}</td>
          <td>{{ bar.Bar_Address }}</td>
          <td>{{ bar.Bar_City }}</td>
          <td>{{ bar.Bar_Phone_Number }}</td>
        </tr>
    </ng-template>
  </p-table>
</div>

<br><br>